#timelineContainer {
    /*margin-left:15%;*/
    margin-bottom: 100px;
    max-width: 1000px;
    align-content: center;
}

/*ToDo: Remove the hard-coded height and compute it based on the height of the other objects in the experience section.*/
.rectangle {
    width: 10px;
    height: 1220px;
    background-color: black;
    margin-left: 200px;
}

.timelineEntry {
    float: left;
    padding-right:20px;
    /*clear:left;*/
}

.timelineEntryHeading {
    font-size: large;
    color: black;
}

.timelineEntryDate {
    font-size: small;
    color: black;
    opacity: .5;
}

.timelineDescription {
    float: left;
    /*margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 10px;*/
    /*max-width: 600px;*/
    padding-left:30px;
    /*margin-bottom: 50px;*/
    border-left: thick solid black;
}

.timelineDescriptionHeader {
    font-size: x-large;
    text-align: left;
}

.timelineDescriptionSubheader {
    font-size: small;
    opacity: .7;
    text-align: left;
}

.timelineDescriptionContent {
    text-align: left;
}

.eventImage {
    position:absolute;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -17px;
    background-color: white;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    z-index:10;
}

.eventCircle {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: -5px; /*eventCircle radius - rectangleWidth / 2 */
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 0px 4px mintcream;
}

.eventRectangle {
    float: left;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: black;
    box-shadow: 0px 0px 0px 4px mintcream;
    margin-left: 130px;
    display: table;
}

.eventRectangleText {
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
