body {
}

.column-reference {
    text-align: center;
    background-color: lightgreen;
    height: 50px;
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 108px;
    height: 108px;
    background: black;
    opacity: .6;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.4s ease;
    z-index: 100;
}

    header.sticky {
        font-size: 24px;
        line-height: 68px;
        height: 68px;
        font-size: 26px;
        background: gray;
        vertical-align: middle;
    }

#headerName {
    position: absolute;
    top: 160px;
    width: 800px;
    margin-left: -400px;
    left: 50%;
    font-size: 60px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#headerSubtext {
    position: absolute;
    top: 250px;
    width: 800px;
    margin-left: -400px;
    left: 50%;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#navlist {
    text-align: center;
}

    #navlist li {
        display: inline;
        list-style-type: none;
        padding: 20px;
        transition: all .6s ease;
    }

        #navlist li.emphasized {
            background-color: #335C7D;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

.section-Titles {
    margin-top: 50px;
}

.section-content {
    text-align: center;
}
