/*#region Default Styling */

.navBarFixed {
    background-color: black;
    height: 108px;
    margin-bottom: 0px;
    opacity: .8;
}

#myNavBar {
    font-family: 'Open Sans', sans-serif;
}

#navlist {
    display: inline-block;
    float: none;
}

    #navlist li > div {
        display: table;
        vertical-align: middle;
    }

        #navlist li > div > a {
            display: table-cell;
            color: white;
            opacity: .8;
            cursor: pointer;
        }

.navlistButton {
    border: hidden;
    background: transparent;
}

.navbar-brand{
    margin-left:20px;
    padding:0;
}

.navbar-toggle{
    margin-top:17px;
}

/*#endregion Default Styling*/

/*#region Medium+ Screen Size */

.navBarFixed.lg {
    height: 68px;
}

.navbar-brand.lg {
    visibility: collapse;
    width: 0;
}

#navlist li a.lg {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 68px;
    text-align: center;
    font-size: 18px;
}


/*#endregion Medium+ Screen Size*/

/*#region Medium+ Screen Size, ViewPort @ Top*/

.navBarFixed.top {
    height: 108px;
}

#navlist.top {
    font-size: 24px;
}

#navlist li a.top {
    display: inline;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 108px;
    text-align: center;
}

.navbar-brand.top {
    visibility: collapse;
    width: 0;
    color: red;
}

/*#endregion Medium+ Screen Size, ViewPort @ Top*/

/*#region Small Screen Size*/

.navbar-brand.sm {
    visibility: visible;
    width: auto;
    line-height:68px;
}

.navBarFixed.sm {
    height: auto;
    background-color: #070716;
    opacity: 1;
    padding: 0px;
    height: 68px !important;
    overflow:visible;
}

/*.navBarContainer.sm {
    padding: 0px;
    height: auto;
    line-height: none;
}*/

#navlist li a.sm {
    line-height: 48px !important;
    font-size: 18px !important;
}

.navbar-header.sm {
    margin: 0;
    height:68px;
   
}

#navlist.sm {
    width: 100%;
    margin: 0;
    background-color: #070716;
    padding-left: 20px;
}

#navlist li.sm {
    display: inline;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    line-height: normal;
    text-align: center;
}

#myNavbar.sm {
    margin: 0px;
    padding: 0px;
}


/*#endregion Small Screen Size*/

