.projectCarousel {
    width: 100%;
    max-width: 1100px;
    height: 500px;
    position: relative;
    display: table;
    margin: auto;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.carouselBackground {
    width: calc(100% - 100px);
    max-width: 1000px;
    height: 500px;
    position: absolute;
    margin-top: 20px;
    left: 50px;
}

#wrapper {
    width: 100%;
    max-width: 1000px;
    height: 550px;
}

#carouselContent {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
}

.carouselItem {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1000px;
    height: 550px;
}

.picture {
    float: left;
    /*width: 300px;*/
    vertical-align: central;
    margin-left: 8%;
    margin-right: 5%;
    overflow: visible;
}

.content {
    vertical-align: central;
    text-align: left;
    max-width: 600px;
    display: table-cell;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentContainer {
    display: table;
    vertical-align: central;
    margin-left: 50px;
    margin-top: 8%;
    margin-right: 3%;
}

.leftContentContainer {
    float: left;
    display: table;
    vertical-align: central;
    margin-top: 7%;
    margin-left: 8%;
    width: 42%;
}

.prevButton, .nextButton {
    outline: none;
    position: absolute;
    width: 7%;
    height: 500px;
    color: white;
    border-width: 0px;
    top: 20px;
    padding: 0;
}

    .prevButton p, .nextButton p {
        font-size: 40px;
    }

.prevButton {
    left: 50px;
}

.nextButton {
    right: 50px;
}

.rightPicture {
    width: 42%;
    float: left;
    margin-top: 7%;
}

#OzwegoCarousel {
    height: 0;
    visibility: collapse;
}

#PointReaderCarousel {
    height: 0;
    visibility: collapse;
}

.picture img {
    width: 100%;
    max-width: 300px;
}

.badges {
    position: absolute;
    right: 8%;
    bottom: 10%;
}

@media (max-width: 768px) {
    .picture img {
        width: 100%;
        max-width: 150px;
    }

    .rightPicture img {
        width: 100%;
        max-width: 150px;
    }

    .picture {
        position: absolute;
        right: 0px;
        margin: 30px;
        margin-top: 12%;
    }

    .rightPicture {
        position: absolute;
        right: 0px;
        margin: 30px;
        margin-top: 12%;
        width: auto;
    }

    .contentContainer {
        margin-top: 12%;
        float: left;
        margin-right: 210px;
    }

    .leftContentContainer {
        margin-top: 12%;
        float: left;
        margin-right: 210px;
        width: auto;
    }

    .prevButton, .nextButton {
        /*outline: none;*/
        outline: thin;
        position: absolute;
        width: 12%;
        height: 12%;
        color: white;
        border-width: 0px;
        /*top: 20px;*/
        line-height: 7%;
    }

        .prevButton p, .nextButton p {
            font-size: 40px;
        }

    .nextButton {
        left: calc(50px + 12%);
    }

    .projectCarousel {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carouselBackground {
        width: calc(100% - 40px);
        left: 20px;
    }


    .badges {
        position: absolute;
        right: 30px;
        bottom: 10%;
    }
}
